body {
    margin: 0;
    background-color: white;
}

.noscroll {
    overflow: hidden;
}
.blink {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}

#custom_link {
    background-image: url(/static/img/landing/chat.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #DCBF76;
    box-shadow: 0 0 12px 0 rgba(168, 174, 177, .60);
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 20;
    cursor: pointer;
    opacity: 1;
    transition: bottom .2s ease-out, opacity .2s ease-out;
}

#custom_link._mobile {
    bottom: 12px;
    right: 12px;
}

.mobileMenuVisible #custom_link._mobile  {
    bottom: 80px;
}

.mobileMenuOpened #custom_link._mobile {
    opacity: 0;
}

.infoText {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;

    flex: 3;
    margin-top: 12px;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.cardHeader {
	  font-family: 'Source Serif Pro', serif;
    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.questionnaire {
    height: 100%;
}

.mobileMenuBar {
    -webkit-backface-visibility: hidden;
    transform: translate3d(0,0,0);
}
